{% extends '../base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<style type="text/css">
	#main_container {
		background-color: #f8f8ff !important;
		padding-bottom: 10px;
	}
	#nav_top {
		box-shadow: 0 8px 6px -6px black;
	}
</style>
<div class="col-sm-12">
	<form class="form-inline mb-2 mt-2 justify-content-center" method="POST" onsubmit="return checkifempty();">
		{% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search in Movies" aria-label="Search" name="qs">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
	<div class="card shadow_power" id="moviestv">
	<div class="card-header"><span class="display-4">Movies</span>
	  <select onchange="myLangFilter(this);" class="form-control w-50" style="float: right;">
	    <option value="">Sort By</option>
	    <option value="{% url 'movietv_home' %}">Default</option>
	<optgroup label="Language">
	    <option value="{% url 'movietv_view_tweak' lang_id=1 %}">English</option>
	    <option value="{% url 'movietv_view_tweak' lang_id=2 %}">Hindi</option>
	    <option value="{% url 'movietv_view_tweak' lang_id=3 %}">Bengali</option>
	    <option value="{% url 'movietv_view_tweak' lang_id=4 %}">Other</option>
	</optgroup>
	<optgroup label="Date">
	    <option value="{% url 'movietv_home' %}">Latest</option>
	    <option value="{% url 'movietv_view_date_tweak' dated=1 %}">Oldest</option>
	</optgroup>
	  </select>
	</div>
  <script type="text/javascript">
    function myLangFilter(argument) {
      window.location.assign(argument.value);
    }
  </script>
	  <div class="card-body">
	  	<div class="card-columns">
	  	{% for each_movie in movie_objects %}
	  	    {% if each_movie.mobile_compatibility is False %}
		  <div class="card bg-light shadow_power" id="not_compatible">
		  	{% else %}
		  <div class="card bg-light shadow_power">
		  	{% endif %}
		  	<img class="card-img-top" src="{{ each_movie.movie_poster|safe }}" alt="Card image" style="height: 300px;">
		    <div class="card-body text-center">
		      <p class="card-title lead">{{ each_movie.movie_title }} <span> ({{ each_movie.movie_year }})</span></p>
		      <p class="card-text">{{ each_movie.movie_genre }}</p>
		      <a href="{% url 'detail_mov' id=each_movie.id %}" class="btn btn-success">Watch</a>
		    </div>
		  </div>
		{% endfor %}
		</div>
	  </div> 
		  	{% if movie_objects.has_other_pages %}
	<div class="card-footer">
		  <ul class="pagination justify-content-center">
		    {% if movie_objects.has_previous %}
		      <li class="page-item"><a class="page-link" href="?page={{ movie_objects.previous_page_number }}">Previous</a></li>
		    {% else %}
		      <li class="page-item disabled"><span class="page-link">Previous</span></li>
		    {% endif %}


		    	<li class="page-item disabled"><span class="page-link">Page</span></li>
		        <li class="page-item active"><span class="page-link">{{ movie_objects.number }} <span class="sr-only">(current)</span></span></li>
		        <li class="page-item disabled"><span class="page-link">of</span></li>
		        <li class="page-item disabled"><span class="page-link">{{ movie_objects.paginator.num_pages }}</span></li>
		        

		    {% if movie_objects.has_next %}
		      <li class="page-item"><a class="page-link" href="?page={{ movie_objects.next_page_number }}">Next</a></li>
		    {% else %}
		      <li class="page-item disabled"><span class="page-link">Next</span></li>
		    {% endif %}
		  </ul>
		</div>
		{% endif %}
	  
	</div>
</div>
{% endblock %}