{% extends 'base.html' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
<style type="text/css">
	.addform {
		border: 1px solid #c0c0db;
		padding: 10px;
		border-radius: 3px;
		background-color: #fff;
	}
	h2 {
		border: 1px solid #c0c0db;
		border-radius: 3px;
		background-color: #c0c0db;
		/*padding-bottom: 0;*/
		padding: 8px;
		margin-bottom: 0;
	}
</style>
<style type="text/css">
	#main_container {
		background-color: #f8f8ff !important;
		padding-bottom: 10px;
	}
	#nav_top {
		box-shadow: 0 8px 6px -6px black;
	}
</style>
<div class="col-sm-6 mx-auto mt-5">
	<h2 class="display-4" align="center">{{ header }}</h2>
	<form method="POST" class="addform"> {% csrf_token %}
		{% include 'bs4_form.html' with form=form %}
  		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
{% endblock %}
</body>
</html>